@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:600|Gelasio|Neucha&display=swap');

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:600|Neucha&display=swap');
*
{
    outline: none !important;
    scroll-behavior: smooth;
}
body {
    font-family: 'Gelasio', serif;
}
header {
    position: relative;
    z-index: 1000000;
}
p {
    font-size: 1.15rem
}
.navbar {
    transition: 0.5s;
    background: transparent !important;
}
.navbar-light .navbar-toggler {
    /*color: rgb(255, 255, 255);*/
    border-color: rgba(255,255,255,1);
    border: 2px solid #fff;
}
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.94) !important;
    transition: 0.5s;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #000;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 0, 0);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 600;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('Images/menu_close.png');
}


.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('Images/banner.jpg');
    background-size: cover;
    margin-bottom: 0;
}
    .banner:before,
    .sec2:before,
    .contact:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background: linear-gradient(#000, transparent);
        pointer-events: none;
    }
    .banner:after,
    .sec2:after,
    .contact:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background: linear-gradient(360deg, #000, transparent);
        pointer-events: none;
    }
.height100p {
    height:100vh;
}
.h100 {
    height:100%;
}
.contentBox {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    z-index:10;
}
.contentBox h1 {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
   font-family: 'Barlow Condensed', sans-serif;
}

    .contentBox h2 {
        /*font-weight: 600;*/
        color: #fff;
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'Neucha', cursive;
    }
.contentBox p {
  color:#fff;
  font-size:1.3rem;
}

.box {
    position:absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);

}

    .box span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid rgba(255,255,255,1); 
        border-right: 2px solid rgba(255,255,255,1);
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

.box span:nth-child(2) {
    animation-delay: -0.2s;             
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

 @keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 2;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.sec1 {
    padding: 100px 0;
    background: #000;
}
.headerText {
    color:#fff;
}
    .headerText h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-family: 'Neucha', cursive;
    }
.placeBox {
    position:relative;
    max-width:250px;
    height:250px;
    margin:0 auto;
    background: #000;
    margin-top: 10px;
}
.placeBox .imgBx {
    width: 100%;
    height:100%;
}
.placeBox .imgBx img {
    object-fit:cover;
    width:100%;
    height:100%;
}
.placeBox .content {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: flex-end;
}
    .placeBox .content h3 {
        position: relative;
        margin: 0;
        padding: 10px;
        background: rgba(0,0,0,.7);
        color:#fff;
        font-size:20px;
        font-weight:600;
        width:100%;
        text-align:center;
    }
    .placeBox .content span {
        font-size: 16px;
        font-weight: 400;
    }
.sec2 {
    position: relative;
    background: url('Images/banner.jpg');
    background-size: cover;
    height: 100vh;
}

    .sec2 h4 {
        color: rgba(255,255,255,1);
        font-size: 2rem;
        font-family: 'Neucha', cursive;
    }

.logo_container {
    position:relative;
}

.logoBox {
    width: 100%;
    height: 100%;
    margin: auto;
}

.img_logo {
    width:40%;
    margin-top: 20px;
    margin-left: auto;
}

.logoBox .img_logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btnD1 {
    border: 2px solid #fff;
    color: #fff;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    padding: 15px 50px;
    font-size: 1.5rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}
.our_team {
    position: relative;
    background: #000;
    height: auto;
    padding: 100px 0;
}


    .our_team h3 {
        color: #f8ba38;
        font-family: 'Neucha', cursive;
        text-align:left;
    }


    .contact {
    position: relative;
    padding: 100px 0;
    background: url('Images/banner.jpg');
    background-size: cover;
    min-height: 100vh;
}
.contact .form-control {
    background: transparent;
    border:none;
    border-bottom: 2px solid rgba(255,255,255,.2);
    height:50px;
    border-radius:10px;
    background: rgba(0,0,0,.6);
    color:#fff;
    font-size:1.25rem;
}


 .contact .form-control:focus,
 .contact .form-control:hover {
    border: none;
    border-bottom: 2px solid rgba(255,255,255,1);
    box-shadow: none;
 }

 .contact .textarea 
 {
    min-height:100px;
    font-size: 1.5rem;
 }
 .contact label 
 {
    color:#fff;
    font-size:1.25rem;
 }

 .contact form 
 {
    z-index: 1000;
    position: relative;
 }
footer {
    background:#000;
    padding:50px 0 0;
}
.sci {
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
}

 .sci li {
     list-style:none;
     margin:0 20px;
 }
 .sci li a {
    color:#777;
    font-size: 2em;
    transition: 0.5s;
 }

 .sci li a:hover {
    color: #fff;
 }
.cpryt {
    margin-top:20px;
    color: #777;
    text-align:center;
}
.cpryt:hover {
    color: #0d03f8;
}



@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
     padding-right: 1rem;
     padding-left: 1rem;
  }

}


@media (max-width: 992px) {

        .navbar-light .navbar-toggler {
            background: rgba(10, 12, 103, 0.55);
            border-radius: 20%;
        }

        .banner {
            min-height: 100vh;
            padding: 100px 0;
        }

        .contentBox h1 {
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            font-size: 3rem;
            font-family: 'Barlow Condensed', sans-serif;
        }

        .contentBox h2 {
            /*font-weight: 600;*/
            color: #fff;
            text-transform: uppercase;
            font-size: 2rem;
            font-family: 'Neucha', cursive;
        }

        .contentBox p {
            color: #fff;
            font-size: 1.3rem;
        }


        .sec2 h1 {
            font-size: 3rem;
        }

       .sec2 h4 {
          color: rgba(255,255,255,1);
          font-size: 1.5rem;
          font-family: 'Neucha', cursive;
       }

    .logo_container .col {
        padding-right: 10px;
        padding-left: 10px;
    }

    .img_logo {
        width: 100%;
    }

        .contentBox p {
            font-size: 1rem;
        }

        .btnD1 {
            padding: 7px 15px;
        }

        .footer {
            background: #000;
            padding: 10px 0 0px;
        }

        our_team {
            padding: 100px 0;
        }

        .sec2 {
           min-height: 100vh;
           padding: 100px 0;
        }

    .logoBox {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .img_logo {
        width: 100%;
        margin-top: 20px;
    }

    .logoBox .img_logo img {
        object-fit: cover;
        width: 80%;
        height: 80%;
    }

        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .contact .textarea {
            min-height: 100px;
            font-size: 0.8rem;
        }
}




